<a href="/">Главная</a>
<a href="/catalog">Каталог</a><br>
<a  href="/basket">Корзина(<span class="countItemBasket">{{countItemBasket}}</span>)</a><br>
{% if not session.user %}
    <a href="/auth">Войти</a><br>
{% else %}
    <a href="/cabinet">Личный кабинет</a><br>
    <a href="/auth/logout">Выйти</a><br>
    {% if session.user.login == 'admin' %}
    <a href="/admin/index">Панель администратора</a><br>
    {% endif %}    
    <p>Добро пожаловать {{ session.user.login }}<p>


{% endif %}