<a href="./">Главная</a>
<a href="./?c=catalog&a=index">Каталог</a><br>
<a href="./?c=basket&a=index">Корзина</a><br>
{% if not session.user %}
    <a href="./?c=auth&a=index">Войти</a><br>
{% else %}
    <a href="./?c=cabinet&a=index">Личный кабинет</a><br>
    <a href="./?c=auth&a=logout">Выйти</a><br>
    <p>Добро пожаловать {{ session.user.name }}<p>
{% endif %}