{% extends 'layouts/main.twig' %}
{% block content %}
    <h2>Авторизация</h2>
        <form method="post" action="./?c=auth&a=login">
        <input type="text" name="login" placeholder="login">
        <input type="text" name="password" placeholder="password">
        <button type="submit">submit</button>
    </form>
{% endblock %}