{% extends 'layouts/main.twig' %}
{% block content %}
    <p>Учетные записи для проверки(login:password) || user:123 или admin:123<p>
    <h2>Авторизация</h2>
        <form method="post" action="/auth/login">
        <input type="text" name="login" placeholder="login" value="user">
        <input type="text" name="password" placeholder="password" value="123">
       	<label>Save?</label> <input type='checkbox' name='save'>
        <button type="submit">submit</button>

    </form>
{% endblock %}